<div class="modal" data-modal="contact">
    <div class="block column-6">
        <div class="inner">
            <p class="close">x</p>
            <h2>Contact Us</h2>
            <form action="{{ path_for('home') }}" class="form contact-form">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <input type="tel" name="phone" placeholder="Phone Number">
                <textarea name="message" placeholder="Message"></textarea>
                <button class="submit button">Submit</button>
            </form>
        </div>
    </div>
</div>