/*
|--------------------------------------------------------------------------
| #MODAL
|--------------------------------------------------------------------------
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: z(higher);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease(inOutQuint);

    &.is--open {
        visibility: visible;
        opacity: 1;

        > * {
            pointer-events: all;
        }
    }

    .inner {
        max-height:70vh;
        overflow:scroll;
    }
}

.instructor-modal {

    .inner {

        .content {
            width:100%;

            img {
                max-width:300px;
                height:auto;
                float:left;
                margin-right:1rem;
                margin-bottom:.25rem;
                padding-right:1rem;
            }

            .about-instructor {
                padding:1rem;

                @media screen and (max-width:64rem) {
                    max-width:100%;
                }

                h2 {
                    text-align:left;
                    margin-bottom:0;
                }

                h3 {
                    font-weight:600;
                }
            }
        }
    }
}
