/*
|--------------------------------------------------------------------------
| #MODAL
|--------------------------------------------------------------------------
*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: z(higher);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease(inOutQuint);

    &.is--open {
        visibility: visible;
        opacity: 1;

        > * {
            pointer-events: all;
        }
    }

    .inner {
        max-height:70vh;
        overflow:scroll;
    }
}

.instructor-modal {

    .inner {

        .content {
            display:flex;
            width:100%;

            .img-container {
                max-width:40%;
                overflow:hidden;

                img {
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
            }

            .about-instructor {
                max-width:60%;
                padding:1rem;

                h2 {
                    text-align:left;
                    margin-bottom:0;
                }

                h3 {
                    font-weight:600;
                }
            }
        }
    }
}
